
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#sidebar{
  flex: 15%;
}
#map {
  height: 800px;
  flex: 60%;
}
#tableau-de-bord{
  flex: 18%;
}

#playstore {
  width: 50%;
}